@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
/* * {
  box-sizing: border-box;
  font-weight: normal;
}
body {
  color: #555;
  background: #222;
  text-align: center;
  font-family: "Roboto Mono";
  padding: 1em;
}
h1 {
  font-size: 2.2em;
} */
.flip {
  position: relative;
}
.flip > .front,
.flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}
.flip > .front {
  transform: rotateY(0deg);
}
.flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}
.flip:hover > .front {
  transform: rotateY(180deg);
}
.flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}
.flip.flip-vertical > .back {
  transform: rotateX(-180deg);
}
.flip.flip-vertical:hover > .front {
  transform: rotateX(180deg);
}
.flip.flip-vertical:hover > .back {
  transform: rotateX(0deg);
}
.flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 340px;
  filter: drop-shadow(4px 2px 10px gray);
}
.flip > .front {
  color: white;
}
.flip > .front,
.flip > .back {
  display: block;
  /* color: white; */
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 300px;
  padding: 1em 1.8em;
  /* background: #313131; */
  background: white;
  border-radius: 10px;
}
.flip > .front p,
.flip > .back p {
  font-size: 0.9125rem;
  line-height: 160%;
  /* color: ; */
}
.textShadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04),
    3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04),
    0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04),
    7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04),
    9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04),
    11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04),
    13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04),
    0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04),
    17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04),
    19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

.icon {
  height: 48px;
  width: 48px;
  margin-right: 12px;
}

.heading {
  font-size: 32px;
  font-weight: 600;
}

.subHeading {
  position: relative;
  top: -10px;
  left: 1px;
  font-weight: 300;
  font-size: 20px;
}

.techHeading {
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 14px;
}

.techBody {
  font-size: 18px;
}

.techBody > ul {
  padding-left: 1.2em;
  margin: 0;
}

.techBody > ul > li {
  padding: 0;
  margin: 0;
}

/*  Fancy buttons  */
.buttons {
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-self: flex-end;
  margin-left: 20%;
}

.buttons > button {
  font-size: 18px;
  font-weight: 500;

  color: white;
  background: #033d9c;
  border: 0;
  padding: 7px 15px;
  transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale));
  transition: transform 0.1s;
  position: relative;
}

.buttons > button:hover {
  --y: -10;
  --scale: 1.1;
  --border-scale: 1;

  cursor: pointer;
}

.buttons > button:active {
  --y: 5%;
  --scale: 0.9;
  --border-scale: 0.9, 0.8;
}

.buttons > button:before {
  content: "";
  position: absolute;
  inset: calc(3px * -1);
  border: 2px solid #033d9c;
  transform: scale(var(--border-scale, 0));
  transition: transform 0.125s;

  --angle-one: 105deg;
  --angle-two: 290deg;
  --spread-one: 30deg;
  --spread-two: 40deg;
  --start-one: calc(var(--angle-one) - (var(--spread-one) * 0.5));
  --start-two: calc(var(--angle-two) - (var(--spread-two) * 0.5));
  --end-one: calc(var(--angle-one) + (var(--spread-one) * 0.5));
  --end-two: calc(var(--angle-two) + (var(--spread-two) * 0.5));

  mask: conic-gradient(
    transparent 0 var(--start-one),
    red var(--start-one) var(--end-one),
    transparent var(--end-one) var(--start-two),
    red var(--start-two) var(--end-two),
    transparent var(--end-two)
  );

  z-index: -1;
}
