:root {
  /* overflow: hidden; */
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  color: black;
  background-color: #ffebba;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscsale;

  margin: 0;
  padding: 0;

  width: 100vw;
  max-width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

/* Media query for small screens (e.g., phones) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 10px; /* Adjust font size for small screens */
  }
}

/* Media query for small screens (e.g., phones) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 12px; /* Adjust font size for small screens */
  }
}

/* Media query for medium screens (e.g., tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  html {
    font-size: 16px; /* Reset font size for medium screens */
  }
}

/* Media query for large screens (e.g., desktops) */
@media only screen and (min-width: 1025px) {
  html {
    font-size: 20px; /* Adjust font size for large screens */
  }
}
